$color-header-background: #f8f9fa;
$color-header-vorder: #6485a6;
$mobile-width: 500px;

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: $color-header-background;
  border-bottom: 2px solid $color-header-vorder;
  align-items: center;
  height: 60px;
  padding: 0 16px;

  .logo {
    width: 100px;
  }
  .user-info {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .user-name {
      font-weight: bold;
    }
  }
}

@media (max-width: $mobile-width) {
  .header-bar {
    padding: 0 8px;
    .user-info {
      margin-right: 0;

      .user-name {
        font-size: 15px;
        text-align: right;
      }
    }
  }
}
