<div class="cat-facts-page-container">
  <h1 class="cat-facts-title">Kocie ciekawostki</h1>
  <div class="cat-facts-container">
    @for(catFact of catFactsData(); track catFact) {
    <h3 class="cat-fact-card-ttile">Ciekawostka nr {{ $index + 1 }}</h3>
    <app-cat-facts-card [catFact]="catFact"></app-cat-facts-card>
    } @if(loadingData()) {
    <div class="loading-container">Kocie smaczki w drodze...</div>

    } @if(showErrorNotification()) {
    <div class="error-message">
      To już wszystkie kocie smaczki na dziś. Wkrótce dodamy kolejne!
    </div>
    }
  </div>
</div>
